*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header {
    width: 100%;
    height: 100px;
    background-color:#1e63d4;
    display: flex;
    align-items: center;
}

.logototal {
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 110px;
}

.cimalogo {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-left: 102px;
    margin-bottom: 10px;
    width: 100%;
    height: 29px;
}

.cimalogo:hover {
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 71%;
    margin-bottom: 26px;
    text-decoration: none;
}

.book {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.caixap {
    margin-left: 30px;
    display: flex;
    width: 600px;
    height: 35%;
    background-color: rgb(240, 231, 231);
    border: solid 1px whitesmoke;
    border-radius: 6px;
    align-items: center;
}

.pesquisa {
    border: none;
    width: 90%;
    background-color: transparent;
    padding: 20px;
    outline:none;
}

.lupa {
    margin-top: 2px;
    border: none;
    background-color: transparent;
}

.lupa:hover {
    cursor: pointer;
}

.restoheader {
    height: 40%;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.login {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.esclogin {
    margin-left: 10px;
    color: azure;
    font-size: 15px;
    font-weight: 400;
}

.sublinhado {
    font-weight: 700;
    text-decoration: none;
    color: azure;
}

.sublinhado:hover {
    cursor: pointer;
    text-decoration: underline;
}

.carrinho {
    margin-left: 55px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
}

.carrinho:hover {
    background-color: rgb(71, 80, 204);
    cursor: pointer;
}

.logintotal {
    margin-top: 35px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: solid 1px silver;
    padding: 30px;
}

.l1 {
    font-size: 26px;
    color: #1e63d4;
    margin-bottom: 20px;
    text-decoration: none;
}

.emtel {
    width: 400px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.cont {
    margin-top: 10px;
    width: 400px;
    height: 40px;
    background-color: #0C3D5E;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.cont:hover {
    cursor: pointer;
    border: none;
}

.restologin {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.esclogin2 {
    margin-top: 15px;
    color: black;
    text-decoration: none;
}

.esclogin2:hover {
    text-decoration: underline;
}

.cimainput {
    width: 100%;
    height: 20px;
}

.senha {
    margin-left: 20px;
    font-weight: bold;
}

.esqueci {
    margin-left: 244px;
}

.aesqueci {
    color: black;
    text-decoration: none;
}

.aesqueci:hover {
    color: #0C3D5E;
    transition: all 0.6s;
    text-decoration: underline;
}

.caixacheck {
    width: 100%;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 25px;
}

.concordar {
    margin: 10px;
}

.emtel2 {
    margin-top: 20px;
    width: 400px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.cimainput2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.caixapriv {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.titpriv {
    font-size: 26px;
    border-bottom: solid 1px silver;
}

footer {
    width: 100%;
    background-color: #0C3D5E;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer2 {
    width: 100%;
    background-color: #0C3D5E;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.icones {
    margin-top: 30px;
    height: 50px;
    margin-bottom: 20px;
}

.insta {
    margin-right: 14px;
    margin-left: 18px;
}

.links {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
}

.sema {
    text-decoration: none;
    color: rgb(229, 226, 226);
    margin-right: 18px;
}

.sema:hover {
    text-decoration: underline;
}

.texto {
    color: white;
}