*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header {
    width: 100%;
    height: 13vh;
    background-color:#1e63d4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.espaco {
    width: 100%;
    height: 100px;
    background-color: red;
}

.logototal {
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cimalogo {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-left: 102px;
    margin-bottom: 10px;
    width: 100%;
    height: 29%;
}

.cimalogo:hover {
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 71%;
    margin-bottom: 26px;
    text-decoration: none;
}

.book {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.caixap {
    margin-left: 30px;
    display: flex;
    width: 600px;
    height: 35%;
    background-color: rgb(240, 231, 231);
    border: solid 1px whitesmoke;
    border-radius: 6px;
    align-items: center;
}

.pesquisa {
    border: none;
    width: 90%;
    background-color: transparent;
    padding: 20px;
    outline:none;
}

.lupa {
    margin-top: 2px;
    border: none;
    background-color: transparent;
}

.lupa:hover {
    cursor: pointer;
}

.restoheader {
    height: 40%;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.login {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.esclogin {
    margin-left: 10px;
    color: azure;
    font-size: 15px;
    font-weight: 400;
}

.sublinhado {
    font-weight: 700;
    text-decoration: none;
    color: azure;
}

.sublinhado:hover {
    cursor: pointer;
    text-decoration: underline;
}

.carrinho {
    margin-left: 55px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
}

.carrinho:hover {
    background-color: rgb(71, 80, 204);
    cursor: pointer;
}

.baixoheader {
    background-color: #0C3D5E;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixabh {
    margin: 35px;
    color: rgb(216, 208, 208);
    font-size: 17px;
}

.caixabh:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
    transition: all 0.6s;
}

.parteprincipal {
    width: 100%;
}

.imagemprincipal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imprincipal {
    display: flex;
    justify-content: center;
}

.imprincipal:hover {
    cursor: pointer;
}

.parte1 {
    width: 100%;
    margin-top: 30px;

}

.caixinha {
    margin-left: 50px;
    color: #1e63d4;
    font-size: 24px;
    font-weight: 700px;
    border-bottom: solid 1px slategray;
    margin-right: 50px;
}

.principal {
    display: flex;
    margin-top: 40px;
}

.filtroscaixa {
    width: 25%;
    height: 800px;
}

.container1 {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.filtfonte {
    color: #2675AA;
    font-size: 26px;
    margin-left: 50px;
    width: 100%;
    text-decoration: underline;
}

.subcategorias {
    margin-left: 50px;
    margin-top: 30px;
}

.sub {
    font-weight: bold;
    font-size: 20px;
}

.check {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
}

.ordem {
    width: 100%;
    height: 30px;
}

.select {
    margin-left: 720px;
    display: flex;
    justify-content: right;
    height: 30px;
    width: 200px;
    border-color: white;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.marginr {
    margin-right: 1100px;
}

.logintotal {
    margin-top: 35px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border: solid 1px silver;
    padding: 30px;
}

.l1 {
    font-size: 26px;
    color: #1e63d4;
    margin-bottom: 20px;
}

.emtel {
    width: 400px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.cont {
    margin-top: 10px;
    width: 400px;
    height: 40px;
    background-color: #0C3D5E;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.cont:hover {
    cursor: pointer;
    border: none;
}

.restologin {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.esclogin2 {
    margin-top: 15px;
    color: black;
    text-decoration: none;
}

.esclogin2:hover {
    text-decoration: underline;
}

.totalcar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulocar {
    margin-top: 40px;
    width: 86%;
    height: 30px;
    border-bottom: 1px solid silver;
}

.car {
    font-size: 22px;
    font-weight: bold;
}

.caixacar {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 76%;
    background-color: rgb(243, 237, 237);
}

.titulocar2 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 30px;
}

.esclogin3 {
    font-size: 18px;
    margin-top: 15px;
    color: black;
    text-decoration: none;
}

.esclogin3:hover {
    text-decoration: underline;
    color: #1e63d4;
    transition: all 0.4s;
}

.cont2 {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    background-color: #0C3D5E;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
}

.cont2:hover {
    cursor: pointer;
}

.livros {
    width: 100%;
    margin-top: 40px;
}

.linhalivros {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.caixalivro {
    border: solid 1px transparent;
    width: 30%;
    height: 350px;
    padding: 10px;
    margin-left: 5px;
}

.livroim {
    height: 200px;
}

.caixaim {
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.nmlivro {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.nmlivro:hover {
    color: #0C3D5E;
    cursor: pointer;
    transition: all 0.4s;
}

.estrelas {
    margin-top: 6px;
    width: 40%;
}

.preco {
    font-size: 24px;
    font-weight: bold;
}

.preco:hover {
    text-decoration: underline;
    color: #0C3D5E;
    transition: all 0.4s;
    cursor: pointer;
}

.caixalivro:hover {
    border: solid 1px silver;
    cursor: pointer;
}

.tirara {
    color: black;
    text-decoration: none;
}

footer {
    width: 100%;
    background-color: #0C3D5E;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer2 {
    width: 100%;
    background-color: #0C3D5E;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.icones {
    margin-top: 30px;
    height: 50px;
    margin-bottom: 20px;
}

.insta {
    margin-right: 14px;
    margin-left: 18px;
}

.links {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
}

.sema {
    text-decoration: none;
    color: rgb(229, 226, 226);
    margin-right: 18px;
}

.sema:hover {
    text-decoration: underline;
}

.texto {
    color: white;
}