*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header {
    width: 100%;
    height: 140px;
    background-color:#1e63d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logototal {
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cimalogo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 102px;
    width: 100%;
    height: 29%;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 71%;
}

.book {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.caixap {
    margin-left: 30px;
    display: flex;
    width: 600px;
    height: 35%;
    background-color: rgb(240, 231, 231);
    border: solid 1px whitesmoke;
    border-radius: 6px;
    align-items: center;
}

.pesquisa {
    border: none;
    width: 90%;
    background-color: transparent;
    padding: 20px;
    outline:none;
}

.lupa {
    margin-top: 2px;
    border: none;
    background-color: transparent;
}

.lupa:hover {
    cursor: pointer;
}